$colors: (
  primary: #111111,
  secondary: #fff,
  light: #fff,
  green: #23342E,
  grey: #AFAFAF
);

$responsiveConfig: (
  desktopLarge: 1680px,
  desktop: 1360px,
  laptop: 1200px,
  tabletLandscape: 1112px,
  tabletPortrait: 834px,
  mobile: 600px
);
